body {
    background-image: url(https://cdn.hipwallpaper.com/i/25/66/aEOoKm.jpg);
    background-color: linen; /* In case the background image does not work */
    background-size: cover;
    background-position: left;
    background-repeat: repeat;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    align-self: left;
    margin-left: 6%;
    margin-top: 2%;
    color: #022D36;
    font-weight: bold;
    text-decoration: underline;
    filter: drop-shadow(0 0 10px grey);
}

.row-1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

.row-2 {
    height: 40%;
}

.card-1 {
    width: 60%;
    margin-bottom: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px grey);
}

.card-2 {
    margin-left: 50px;
    margin-top: 10px;
    width: 60%;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px grey);
}

.card-3 {
    width: 50%;
    margin-bottom: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px grey);
}

.card-text {
    color: #022D36;
    font-size: 20px;
    filter: drop-shadow(0 0 5px grey);
}

.col-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-1 .col-5 .card-text {
    padding-left: 20px;
}

@media screen and (max-width: 414px) {

    h1 {
        font-size: 20px;
    }
  .card-1 {
    width: 65%;
    margin-bottom: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px grey);
  }

  .card-2 {
    margin-left: 10px;
    margin-top: 10px;
    width: 60%;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px grey);
  }

  .card-3 {
    width: 55%;
    margin-bottom: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 10px grey);
  }

  .card-text {
    color: #022D36;
    font-size: 10px;
    filter: drop-shadow(0 0 5px grey);
  }

  .card-1 .col-5 .card-text {
    padding-left: 5px;
}
}