body {
    background-image: url(https://cdn.hipwallpaper.com/i/25/66/aEOoKm.jpg);
    background-color: linen; /* In case the background image does not work */
    background-size: cover;
    background-position: left;
    background-repeat: repeat;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    align-self: left;
    margin-left: 6%;
    margin-top: 2%;
    color: #022D36;
    font-weight: bold;
    text-decoration: underline;
    filter: drop-shadow(0 0 10px grey);
}

form {
    width: 30%;
    margin: 0 auto;
    color: linen;
    background-color: #022D36;
    border-radius: 5px;
    margin-top: 30px;
    filter: drop-shadow(0 0 10px black);
}

label {
    color: linen;
}

.form-group, .form-check, .button-group {
    margin: 20px;
}

.title {
    text-align: center;
    padding-top: 20px;
}

.btn-group {
    width: 45%;
    margin-bottom: 40px;
}

.btn {
    background-color: linen;
    filter: drop-shadow(0 0 3px grey);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: linen;
    color: black;
    text-align: right;
}

footer em {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    form {
        width: 90%;
    }

    h1 {
        font-size: 30px;
    }
}
